
@{
    ViewBag.Title = "Login";
}
    <div>
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label for="exampleInputLogin">Введите Логин </label>
                <input type="text" class="form-control" id="exampleInputLogin" aria-describedby="emailHelp" placeholder="Enter Login" name="Login">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Введите Пароль</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="Pass">
            </div>
            <div>
                <button type="submit" class="btn btn-primary" action="Login">Авторизоваться</button>
                <a href="@Url.Action("Registet","User")" class="btn btn-primary">Зарегистрироваться</a>
            </div>
            <div style="color:red">
                @Html.ValidationMessage("error")
            </div>
        </form>
    </div>
